---
import data          from '../data.json';

import iconTwitter   from '../assets/twitter-white.svg';
import iconGithub    from '../assets/brand-github-filled.svg';
import iconLinkedin  from '../assets/linkedin.svg';
import iconInstagram from '../assets/brand-instagram.svg';
import iconMail      from '../assets/mail-filled-white.svg';
---

<div class="links-s-m">
        <a href={data.twitter}
            ><img
                class="social-media"
                src={iconTwitter.src}
                alt="icono twitter"
                width="30px"
                loading="lazy"
            /></a
        >
        <a href={data.github}
            ><img
                alt="icono github"
                class="social-media"
                src={iconGithub.src}
                width="30px"
                loading="lazy"
            /></a
        >
        <a href={data.linkedin}
            ><img
                alt="icono linkedin"
                class="social-media"
                src={iconLinkedin.src}
                width="30px"
                loading="lazy"
            /></a
        >
        <a href={data.instagram}
            ><img
                alt="icono instagram"
                class="social-media"
                src={iconInstagram.src}
                width="30px"
                loading="lazy"
            /></a
        >
        <a href={data.email}>
            <img 
                alt="icono email" 
                class="social-media" 
                src={iconMail.src} 
                width="30px"
                loading="lazy"
            />
        </a>

        
    </div>

<style>
    .links-s-m {
        display: flex;
        align-items:flex-end;
        height: 5vh;
    }
    .social-media {
        filter: drop-shadow(2px 4px 2px #00000086);
    }
    .social-media:hover {
        margin-bottom: 1vh;
    }
</style>